@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #888;
    overflow-x: hidden;
    font-size: 15px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
}

* {
    margin: 0;
    padding: 0;
}

.navbar-toggler:focus,
a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    text-decoration: none;
    outline: none;
    outline: none !important;
    border-color: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-check-input:checked {
    background-color: #3865F2;
    border-color: #3865F2;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #081828;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(white, #3b3b3b);
    cursor: default;
    margin: 0em;
    font: 400 14px;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(#767676, #858585);
    -o-border-image: initial;
    border-image: initial;
}

span,
a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 0px;
    color: #081828;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-55 {
    margin-top: 55px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-65 {
    margin-top: 65px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-85 {
    margin-top: 85px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-95 {
    margin-top: 95px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-105 {
    margin-top: 105px;
}

.mt-110 {
    margin-top: 110px;
}

.mt-115 {
    margin-top: 115px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-125 {
    margin-top: 125px;
}

.mt-130 {
    margin-top: 130px;
}

.mt-135 {
    margin-top: 135px;
}

.mt-140 {
    margin-top: 140px;
}

.mt-145 {
    margin-top: 145px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-155 {
    margin-top: 155px;
}

.mt-160 {
    margin-top: 160px;
}

.mt-165 {
    margin-top: 165px;
}

.mt-170 {
    margin-top: 170px;
}

.mt-175 {
    margin-top: 175px;
}

.mt-180 {
    margin-top: 180px;
}

.mt-185 {
    margin-top: 185px;
}

.mt-190 {
    margin-top: 190px;
}

.mt-195 {
    margin-top: 195px;
}

.mt-200 {
    margin-top: 200px;
}

.mt-205 {
    margin-top: 205px;
}

.mt-210 {
    margin-top: 210px;
}

.mt-215 {
    margin-top: 215px;
}

.mt-220 {
    margin-top: 220px;
}

.mt-225 {
    margin-top: 225px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-65 {
    margin-bottom: 65px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-75 {
    margin-bottom: 75px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-85 {
    margin-bottom: 85px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-95 {
    margin-bottom: 95px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-105 {
    margin-bottom: 105px;
}

.mb-110 {
    margin-bottom: 110px;
}

.mb-115 {
    margin-bottom: 115px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mb-125 {
    margin-bottom: 125px;
}

.mb-130 {
    margin-bottom: 130px;
}

.mb-135 {
    margin-bottom: 135px;
}

.mb-140 {
    margin-bottom: 140px;
}

.mb-145 {
    margin-bottom: 145px;
}

.mb-150 {
    margin-bottom: 150px;
}

.mb-155 {
    margin-bottom: 155px;
}

.mb-160 {
    margin-bottom: 160px;
}

.mb-165 {
    margin-bottom: 165px;
}

.mb-170 {
    margin-bottom: 170px;
}

.mb-175 {
    margin-bottom: 175px;
}

.mb-180 {
    margin-bottom: 180px;
}

.mb-185 {
    margin-bottom: 185px;
}

.mb-190 {
    margin-bottom: 190px;
}

.mb-195 {
    margin-bottom: 195px;
}

.mb-200 {
    margin-bottom: 200px;
}

.mb-205 {
    margin-bottom: 205px;
}

.mb-210 {
    margin-bottom: 210px;
}

.mb-215 {
    margin-bottom: 215px;
}

.mb-220 {
    margin-bottom: 220px;
}

.mb-225 {
    margin-bottom: 225px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-55 {
    padding-top: 55px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-65 {
    padding-top: 65px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-75 {
    padding-top: 75px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-85 {
    padding-top: 85px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-95 {
    padding-top: 95px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-105 {
    padding-top: 105px;
}

.pt-110 {
    padding-top: 110px;
}

.pt-115 {
    padding-top: 115px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-125 {
    padding-top: 125px;
}

.pt-130 {
    padding-top: 130px;
}

.pt-135 {
    padding-top: 135px;
}

.pt-140 {
    padding-top: 140px;
}

.pt-145 {
    padding-top: 145px;
}

.pt-150 {
    padding-top: 150px;
}

.pt-155 {
    padding-top: 155px;
}

.pt-160 {
    padding-top: 160px;
}

.pt-165 {
    padding-top: 165px;
}

.pt-170 {
    padding-top: 170px;
}

.pt-175 {
    padding-top: 175px;
}

.pt-180 {
    padding-top: 180px;
}

.pt-185 {
    padding-top: 185px;
}

.pt-190 {
    padding-top: 190px;
}

.pt-195 {
    padding-top: 195px;
}

.pt-200 {
    padding-top: 200px;
}

.pt-205 {
    padding-top: 205px;
}

.pt-210 {
    padding-top: 210px;
}

.pt-215 {
    padding-top: 215px;
}

.pt-220 {
    padding-top: 220px;
}

.pt-225 {
    padding-top: 225px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-55 {
    padding-bottom: 55px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-65 {
    padding-bottom: 65px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-75 {
    padding-bottom: 75px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-85 {
    padding-bottom: 85px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-95 {
    padding-bottom: 95px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-105 {
    padding-bottom: 105px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pb-115 {
    padding-bottom: 115px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-125 {
    padding-bottom: 125px;
}

.pb-130 {
    padding-bottom: 130px;
}

.pb-135 {
    padding-bottom: 135px;
}

.pb-140 {
    padding-bottom: 140px;
}

.pb-145 {
    padding-bottom: 145px;
}

.pb-150 {
    padding-bottom: 150px;
}

.pb-155 {
    padding-bottom: 155px;
}

.pb-160 {
    padding-bottom: 160px;
}

.pb-165 {
    padding-bottom: 165px;
}

.pb-170 {
    padding-bottom: 170px;
}

.pb-175 {
    padding-bottom: 175px;
}

.pb-180 {
    padding-bottom: 180px;
}

.pb-185 {
    padding-bottom: 185px;
}

.pb-190 {
    padding-bottom: 190px;
}

.pb-195 {
    padding-bottom: 195px;
}

.pb-200 {
    padding-bottom: 200px;
}

.pb-205 {
    padding-bottom: 205px;
}

.pb-210 {
    padding-bottom: 210px;
}

.pb-215 {
    padding-bottom: 215px;
}

.pb-220 {
    padding-bottom: 220px;
}

.pb-225 {
    padding-bottom: 225px;
}

.img-bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px;
    }
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.section-title {
    text-align: center;
    margin-bottom: 80px;
    padding: 0 300px;
    position: relative;
    z-index: 5;
}

.section-title h3 {
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
    color: #3865F2;
    text-transform: uppercase;
}

.section-title h2 {
    font-size: 34px;
    margin-bottom: 25px;
    line-height: 42px;
    text-transform: capitalize;
    position: relative;
    font-weight: 800;
}

.section-title p {
    font-size: 15px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title {
        padding: 0px 200px;
        margin-bottom: 70px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-title {
        padding: 0px 20px;
        margin-bottom: 70px;
    }

    .section-title h3 {
        font-size: 14px;
    }

    .section-title h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .section-title p {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .section-title {
        padding: 0px 10px;
        margin-bottom: 60px;
    }

    .section-title h3 {
        font-size: 14px;
    }

    .section-title h2 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 18px;
    }

    .section-title p {
        font-size: 14px;
    }
}

.section-title.align-right {
    padding: 0;
    padding-left: 600px;
}

.section-title.align-right h2:before {
    display: none;
}

.section-title.align-right h2:after {
    position: absolute;
    right: 0;
    bottom: -1px;
    height: 2px;
    width: 50px;
    background: #3865F2;
    content: "";
}

.section-title.align-left {
    padding: 0;
    padding-right: 600px;
}

.section-title.align-left h2:before {
    left: 0;
    margin-left: 0;
}

.scroll-top:hover {
    -webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
    box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    background-color: #081828;
}

.overlay {
    position: relative;
    z-index: 1;
}

.overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: #081828;
    content: "";
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: -1;
}


.button .btn {
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 30px;
    background-color: #3865F2;
    color: #fff;
    border: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    margin-right: 5px;
    overflow: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .button .btn {
        padding: 12px 25px;
        font-size: 14px;
        font-weight: 500;
    }
}

@media (max-width: 767px) {
    .button .btn {
        padding: 12px 25px;
        font-size: 14px;
        font-weight: 500;
    }
}

.button .btn i {
    display: inline-block;
    margin-right: 5px;
}

.button .btn:last-child {
    margin: 0;
}

.button .btn-alt {
    background-color: #081828;
    color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .button .btn-alt {
        padding: 10px 30px;
    }
}

@media (max-width: 767px) {
    .button .btn-alt {
        padding: 10px 30px;
    }
}

.button .btn-alt:hover {
    background-color: #3865F2;
    color: #fff;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.header {
    width: 100%;
    background: transparent;
    /* position: absolute; */
    width: 100%;
    left: 0;
    top: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header {
        padding: 18px 0 !important;
    }

    .header .mobile-menu-btn .toggler-icon {
        background-color: #333;
    }

    .header .button {
        margin: 0 !important;
    }

    .header .navbar-collapse {
        position: absolute;
        top: 67px !important;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        max-height: 350px;
        overflow-y: scroll;
        border-top: 1px solid #fff;
        border-radius: 6px;
    }

    .header .navbar .navbar-nav .nav-item a:hover {
        color: #3865F2 !important;
    }

    .header .navbar .navbar-nav .nav-item a.active {
        color: #3865F2 !important;
    }

    .header .navbar-nav .nav-item {
        margin: 0;
    }

    .header .navbar-nav .nav-item:hover a {
        color: #3865F2;
    }

    .header .navbar-nav .nav-item a {
        padding: 12px 16px !important;
    }

    .header .navbar-nav .nav-item a::before {
        display: none;
    }

    .header .navbar-nav .nav-item .sub-menu {
        position: static;
        width: 100%;
        opacity: 1;
        visibility: visible;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
        border: none;
        margin-left: 15px;
        margin-right: 15px;
    }

    .header .navbar-nav .nav-item .sub-menu .nav-item a {
        padding: 12px 12px;
    }

    .header .navbar-nav .nav-item .sub-menu .nav-item a:hover {
        color: #3865F2 !important;
    }

    .header .navbar-nav .nav-item a {
        color: #051441;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px 0;
    }

    .header .navbar-nav .nav-item a::after {
        opacity: 1;
        visibility: visible;
    }

    .header .navbar-nav .nav-item .sub-menu li.active {
        background: #fff !important;
        color: #3865F2 !important;
    }

    .header .navbar-nav .nav-item .sub-menu .nav-item {
        margin: 0 !important;
    }

    .header .navbar-nav .nav-item .sub-menu .nav-item a {
        padding: 10px 12px !important;
    }

    .header .navbar-nav .nav-item .sub-menu li:hover {
        background: #fff !important;
        color: #3865F2 !important;
    }

    .header .navbar-nav .nav-item a {
        font-size: 14px;
    }

    .header .navbar-nav .nav-item a:hover {
        color: #3865F2;
    }
}

@media (max-width: 767px) {
    .header {
        padding: 18px 0 !important;
    }

    .header .mobile-menu-btn .toggler-icon {
        background-color: #333;
    }

    .header .navbar-collapse {
        position: absolute;
        top: 58px !important;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        max-height: 350px;
        overflow-y: scroll;
        border-top: 1px solid #fff;
        border-radius: 6px;
    }

    .header .navbar .navbar-nav .nav-item a:hover {
        color: #3865F2 !important;
    }

    .header .navbar .navbar-nav .nav-item a.active {
        color: #3865F2 !important;
    }

    .header .navbar-nav .nav-item {
        margin: 0;
    }

    .header .navbar-nav .nav-item:hover a {
        color: #3865F2;
    }

    .header .navbar-nav .nav-item a {
        padding: 12px 16px !important;
    }

    .header .navbar-nav .nav-item a::before {
        display: none;
    }

    .header .navbar-nav .nav-item .sub-menu {
        position: static;
        width: 100%;
        opacity: 1;
        visibility: visible;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
        border: none;
        margin-left: 15px;
        margin-right: 15px;
    }

    .header .navbar-nav .nav-item .sub-menu .nav-item a {
        padding: 12px 12px;
    }

    .header .navbar-nav .nav-item .sub-menu .nav-item a:hover {
        color: #3865F2 !important;
    }

    .header .navbar-nav .nav-item a {
        color: #051441;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px 0;
    }

    .header .navbar-nav .nav-item a::after {
        opacity: 1;
        visibility: visible;
    }

    .header .navbar-nav .nav-item .sub-menu li.active {
        background: #fff !important;
        color: #3865F2 !important;
    }

    .header .navbar-nav .nav-item .sub-menu .nav-item {
        margin: 0 !important;
    }

    .header .navbar-nav .nav-item .sub-menu .nav-item a {
        padding: 10px 12px !important;
    }

    .header .navbar-nav .nav-item .sub-menu li:hover {
        background: #fff !important;
        color: #3865F2 !important;
    }

    .header .navbar-nav .nav-item a {
        font-size: 14px;
    }

    .header .navbar-nav .nav-item a:hover {
        color: #3865F2;
    }
}

@media (max-width: 767px) {
    .header .button {
        display: none;
    }
}

.header .button .btn {
    background: #F2F6FF;
    border: 2px solid #fff;
    color: #234CAD;
    padding: 12px 30px;
    border-radius: 25px;
}

.header .button .btn-login {
    background: transparent;
    border: 2px solid #234CAD;
    color: #234CAD;
    padding: 12px 30px;
    border-radius: 25px;
}
.header .button .btn-login:hover {
    border: 2px solid #333;
    color: #333;
}
.header .button .btn:hover {
    background-color: #EFEFEF;
    color: #3865F2;
}

.header .navbar-brand img {
    width: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header .navbar-brand img {
        width: 50px;
    }
}

@media (max-width: 767px) {
    .header .navbar-brand img {
        width: 50px;
    }
}

.header.sticky .navbar-brand .white-logo {
    opacity: 0;
    visibility: hidden;
}

.header.sticky .navbar-brand .dark-logo {
    opacity: 1;
    visibility: visible;
}

.header.sticky .button .btn {
    background-color: #3865F2;
    color: #fff;
    border-color: transparent;
}

.header.sticky .button .btn:hover {
    background-color: #081828;
    color: #fff;
}

.sticky {
    position: fixed;
    z-index: 99;
    background-color: #fff;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    top: 0;
}

.navbar-expand-lg .navbar-nav {
    margin: 0;
    margin-left: auto !important;
    margin-right: auto !important;
}

.header .navbar .navbar-nav .nav-item a.active {
    color: #333;
    font-weight: 400;
}

.sticky .navbar .navbar-nav .nav-item a.active {
    color: #3865F2;
}

.sticky .navbar .navbar-nav .nav-item a {
    color: #081828;
}

.header .navbar .navbar-nav .nav-item .sub-menu a.active {
    color: #fff;
}

.sticky .navbar .navbar-nav .nav-item .sub-menu a.active {
    color: #fff;
}

.sticky .navbar .mobile-menu-btn .toggler-icon {
    background: #333;
}

.navbar-area {
    width: 100%;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 0;
}

.navbar-area.sticky {
    position: fixed;
    z-index: 99;
    background: #3865F2;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    background: #fff;
    padding: 0px 0;
}

.navbar {
    padding: 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar-brand {
    padding-left: 0;
    border-radius: 0;
}

.navbar-brand img {
    width: 180px;
}

.mobile-menu-btn {
    padding: 0px;
}

.mobile-menu-btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mobile-menu-btn .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #222;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px;
}

.navbar-nav .nav-item {
    z-index: 1;
    position: relative;
    margin-right: 40px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0 !important;
}

.navbar-nav .nav-item:hover a {
    color: #234CAD;
}

.sticky .navbar-nav .nav-item:hover a {
    color: #3865F2;
}

.navbar-nav .nav-item a {
    font-size: 15px;
    color: #234CAD;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    position: relative;
    padding: 35px 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    transition: all 0.3s ease-out 0s;
    position: relative;
    text-transform: capitalize;
    font-weight: 400;
}

.navbar-nav .nav-item a::after {
    opacity: 0;
    visibility: hidden;
}

.navbar-nav .nav-item:hover a:before {
    width: 100%;
}

.navbar-nav .nav-item a.active {
    color: #333;
}

.navbar-nav .nav-item a.dd-menu::after {
    content: "\ea58";
    font: normal normal normal 1em/1 "LineIcons";
    position: absolute;
    right: 17px;
    font-size: 10px;
    top: 50%;
    margin-left: 5px;
    margin-top: 0px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    height: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item a.dd-menu::after {
        right: 13px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .navbar-nav .nav-item a.dd-menu::after {
        top: 18px;
        right: 0;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .navbar-nav .nav-item a.collapsed::after {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.navbar-nav .nav-item:hover>.sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.navbar-nav .nav-item:hover>.sub-menu .sub-menu {
    left: 100%;
    top: 0;
}

.navbar-nav .nav-item .sub-menu {
    padding: 30px;
    min-width: 240px;
    background: #fff;
    -webkit-box-shadow: 0px 5px 20px #0000001a;
    box-shadow: 0px 5px 20px #0000001a;
    position: absolute;
    top: 110% !important;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-radius: 0 0 4px 4px;
    border-radius: 5px;
}

.navbar-nav .nav-item:hover .sub-menu {
    top: 100% !important;
}

.navbar-nav .nav-item .sub-menu .nav-item {
    width: 100%;
    margin-bottom: 15px;
}

.navbar-nav .nav-item .sub-menu .nav-item:last-child {
    margin: 0;
}

.navbar-nav .nav-item .sub-menu .nav-item a {
    padding: 0;
    color: #888;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.navbar-nav .nav-item .sub-menu .nav-item a:hover {
    color: #3865F2;
}

.navbar-nav .nav-item .sub-menu.left-menu {
    left: -100%;
}

.navbar-nav .nav-item .sub-menu.collapse:not(.show) {
    display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .navbar-nav .nav-item .sub-menu.collapse:not(.show) {
        display: none;
    }
}

.navbar-nav .nav-item .sub-menu>li {
    display: block;
    margin-left: 0;
}

.navbar-nav .nav-item .sub-menu>li:last-child {
    border: none;
}

.navbar-nav .nav-item .sub-menu>li.active>a {
    color: #3865F2 !important;
}

.navbar-nav .nav-item .sub-menu>li>a {
    font-weight: 400;
    display: block;
    padding: 12px 15px;
    font-size: 14px;
    color: #222;
    font-weight: 400;
}

.navbar-nav .nav-item .sub-menu>li:first-child a {
    border: none;
}

.hero{
    width: 100%;
    background-color: #F2F6FF;
    border-radius: 60px;
    min-height: 510px;
}
.hero .container img{
    position: relative;
    width: 100%;
}

.hero .title-hero h1{
    font-size: 54px;
    font-family: 'Public Sans', sans-serif;
    color: #234CAD;
}
.hero .container p{
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 200;
    color: #234CAD;
    width: 80%;
}

.hero .container .button-get-app{
    width: 180px;
    border-radius: 65px;
    line-height: 50px;
    text-align: center;
    display: block;
    border: 2px solid #234CAD;
    color: #234CAD;
}
.section-two{
    margin-top: 50px;
}
.section-two .icon-section{
    width: 80px;
    height: 80px;
    margin-top: -10px!important;
}
.section-two h3{
    font-size: 24px;
    font-weight: 600;
    color: #234CAD;
}
.section-two p{
    font-size: 18px;
    font-weight: 200;
    color: #234CAD;
    margin-top: 10px;
}
.showcase{
    margin-left: 50px;
    margin-right: 50px;
}
.showcase2{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.showcase3{
    margin-left: 50px;
    margin-right: 10px;
}
.showcase4{
    margin-left: 10px;
}
.section-three{
    margin-top: 50px;
}
.spekta1{
    background-color: #F2F6FF;
    border-radius: 60px;
}
.spekta2{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.spekta2-content{
    font-family: 'Public Sans', sans-serif;
    color: #234CAD;
    font-size: 40px;
}
.spekta3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.spekta3-content{
    font-family: 'Public Sans', sans-serif;
    color: #234CAD;
    font-size: 20px;
    padding-right: 70px;
}
.spekta3-link{
    width: 180px;
    border-radius: 65px;
    line-height: 50px;
    text-align: center;
    display: block;
    border: 2px solid #234CAD;
    color: #234CAD;
}
.section-four{
    margin-top: 50px;
    margin-bottom: 50px;
}
.spekta4-content{
    font-family: 'Public Sans', sans-serif;
    color: #234CAD;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sectionb-box{
    background-color: #ffffff;
    padding: 20px;
    color: #234CAD;
    font-family: 'Public Sans', sans-serif;
    width: 300px;
    border-radius: 30px;
}
.sectionb-box2{
    background-color: #ffffff;
    padding: 20px;
    color: #234CAD;
    font-family: 'Public Sans', sans-serif;
    border-radius: 30px;
    width: 400px;
    font-size: 22px;
}
.sectionb-box3{
    background-color: #ffffff;
    padding: 20px;
    color: #234CAD;
    font-family: 'Public Sans', sans-serif;
    border-radius: 30px;
    width: 350px;
    font-size: 18px;
}
.sectionb-box4{
    background-color: #ffffff;
    padding: 20px;
    color: #234CAD;
    font-family: 'Public Sans', sans-serif;
    border-radius: 30px;
    width: 270px;
    font-size: 10px;
}
.sectionb-boxicons{
    justify-content: center;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
    padding-left: 35px;
    width: 100px;
    border-radius: 20px;
}
.sectionb-boxicons2{
    justify-content: center;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
    padding-left: 35px;
    width: 170px;
    border-radius: 20px;
    color: #234CAD;
    font-family: 'Public Sans', sans-serif;
}
.sectionb-box-title{
    margin-left: 10px;
    margin-top: 5px;
}
.flexible{
    display: flex;
}
.noflex{
    display: block;
}

/** Section D **/
.website-element-car-1{
    justify-content: center;
    display: flex;
    height: 383px;
    margin-top: 150px;
    min-width: 1240;
}

.card-9{
    align-items: center;
    background-color: #F2F6FF;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    min-height: 383px;
    padding: 75px 331px;
    width: 1240px;
}

.email-field {
    align-items: center;
    align-self: center;
    background-color: white;
    border-radius: 17.5px;
    display: flex;
    gap: 219px;
    height: 65px;
    overflow: hidden;
    padding: 0 10px;
    width: 500px;
}

.submit-button{
    height: 45px;
    width: 45px;
}

.textfield {
    letter-spacing: 0;
    line-height: 29px;
    margin-bottom: 2px;
    margin-left: 15px;
    min-width: 201px;
    opacity: 0.5;
    white-space: nowrap;
}

.tittle-5{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-height: 133px;
    width: 573px;
    color: #234CAD;
}

.main-tittle-4{
    margin-right: 4px;
    text-align: center;
    white-space: nowrap;
    width: 569px;
    font-size: 50px;
    font-weight: bold;
    display: flex;
}

.body-text-5{
    letter-spacing: 0;
    line-height: 26px;
    margin-right: 3px;
    min-height: 52px;
    text-align: center;
    width: 348px;
}

.website-elements-footer{
    align-items: flex-start;
    display: flex;
    height: 166px;
    left: 249px;
    min-width: 941px;
    position: absolute;
    margin-top: 30px;
    color: #234CAD;
}

.section{
    align-items: flex-start;
    display: flex;
    gap: 150px;
    width: 941px;
}

.about{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 127px;
    overflow: hidden;
    width: 86px;
}

.title {
    letter-spacing: 0;
    line-height: 49px;
    white-space: nowrap;
    font-weight: bold;
}

.item-2-1{
    letter-spacing: 0;
    line-height: 29px;
    white-space: nowrap;
}

.product{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 166px;
    width: 110px;
}

.item-2-2{
    letter-spacing: 0;
    line-height: 29px;
    white-space: nowrap;
    margin-top: 10px;
}

.flex.col{
    align-items: flex-start;
    flex-direction: column;
    min-height: 127px;
    width: 163px;
}

.company-name{
    letter-spacing: 0;
    line-height: 49px;
    white-space: nowrap;
    font-weight: bold;
}

.copyright{
    letter-spacing: 0;
    line-height: 29px;
    min-height: 58px;
    width: 163px;
}


.spekta5{
    margin-left: 77px;
    margin-right: 83px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sectionc-box{
    background-color: #ffffff;
    padding: 20px;
    color: #234CAD;
    font-family: 'Public Sans', sans-serif;
    width: 238px;
    border-radius: 30px;
}
.sectionc-box2{
    background-color: #ffffff;
    padding: 20px;
    color: #234CAD;
    font-family: 'Public Sans', sans-serif;
    border-radius: 30px;
    width: 250px;
    font-size: 22px;
}
.sectionc-box3{
    background-color: #ffffff;
    padding: 20px;
    color: #234CAD;
    font-family: 'Public Sans', sans-serif;
    border-radius: 30px;
    width: 350px;
    font-size: 18px;
}
.card-19{
    align-items: center;
    background-color: #F2F6FF;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    min-height: 383px;
    padding: 30px 165px;
    width: 50px;
    border: 2px solid #234CAD;
    margin: 23px;
}
.tittle-19 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-height: 133px;
    width: 100px;
    color: #234CAD;
    
}
.spekta19-link {
    width: 180px;
    border-radius: 65px;
    line-height: 50px;
    text-align: center;
    display: block;
    border: 2px solid #234CAD;
    color: #234CAD;
    background: white;
}